node_modules
dist
.env
.env.*
!.env.example
coverage
*.log
uploads/*
!uploads/.gitkeep
!uploads/profile-images/
uploads/profile-images/*
!uploads/profile-images/.gitkeep
!uploads/course-videos/
uploads/course-videos/*
!uploads/course-videos/.gitkeep
!uploads/course-thumbnails/
uploads/course-thumbnails/*
!uploads/course-thumbnails/.gitkeep
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal
